<div class=" d-flex flex-column align-items-center justify-content-center product-item my-3"
    [routerLink]="'/product-detail/'+porductDetail.id">
    <div class="product">
        <img src="{{porductDetail.image}}" alt="" />
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
            <li class="icon" data-bs-toggle="modal" data-bs-target="#openImageModal"
                (click)="shareImageToModal(porductDetail.image,$event)"><i
                    class="fa-solid fa-up-right-and-down-left-from-center"></i></li>"
            @if(isUserLogin){
            <!-- <li class="icon mx-3 "><i class="fa-regular fa-heart"></i></li> -->
            <li class="icon"  (click)="addToCart(porductDetail,$event)"><i class="fa-solid fa-cart-plus"></i></li>
            }
        </ul>
    </div>
    <div class="in_body">
        <!-- <div class="tag bg-red">sale</div> -->
        <div class="title  pb-1">{{porductDetail.title}}</div>
        <div class="discription">{{porductDetail.description}}</div>
        <div class="row starbox align-items-center">
            <div class="star_left mt-2 col-sm-6 text-start">
                @for( star of starArray; track $index ){
                <i class="fa-solid fa-star"></i>
                }@empty {
                <i class="fa-regular fa-star"></i>
                }
                @if(starArray.length == 1){
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                }@else if(starArray.length == 2){
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                }@else if(starArray.length == 3){
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                }@else if(starArray.length == 4){
                <i class="fa-regular fa-star"></i>
                }
            </div>

            <div class="price mt-2 mb-0  col-sm-6 text-end">$ {{porductDetail.price}}</div>

        </div>
        <div class="text-center mt-2 view_more">
            <a href="javascript:void()">View More</a>
        </div>
    </div>
</div>