<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="back_btn">
          <a href="javascript:void(0)" (click)="goBack()"><i class="fa-solid fa-chevron-left"></i> Back</a>
        </div>
      </div>
        <h1>Your Cart</h1>
    
      
    </div>
    <div class="row align-items-start">
           
        <div class="col-12 col-lg-8 items">
            <!--1-->
            @for(product of cartItems;track $index){
            <div class="cartItem row align-items-start">
                <div class="col-6 col-md-3 col-sm-6 mb-2 position-relative">
                    <button class="cross" (click)="removeProduct(product.id)">
                        <i class="fa-solid fa-xmark"></i>
                    </button>

                    <img class="w-100" src="{{product?.image}}" alt="art image">
                </div>
                <div class="col-6 col-md-5 mb-2 col-sm-6">
                    <h6 class="">{{product?.title}}</h6>
                    <p class="pl-1 mb-0">{{product?.category}}</p>
                </div>
                <div class="col-6 col-md-2 btn-box col-sm-6">
                    <button class="btn decrease"  (click)="decreaseQuantity(product?.id)">-</button>

                    <p class="cartItemQuantity p-1 text-center">{{product?.quantity}}</p>
                    <button class="btn increase" (click)="increaseQuantity(product?.id)">+</button>

                </div>
                <div class="col-6 col-md-2 col-sm-6">
                    <p id="cartItem1Price">${{product?.price}}</p>
                </div>
            </div>
            <hr>
        }@empty {
            <div class="no_data d-flex justify-content-center align-items-center flex-column">
                <p>
                    No Product is added yet 
                </p>
                <img src="assets/img/empty_cart.jpg" alt="">
                <button routerLink="/all-product" class="">Explore Product</button>
            </div>
        }
            <!--2-->
       
        </div>
        <div class="col-12 col-lg-4 p-3 proceed form">
            <div class="row m-0">
                <div class="col-sm-8 p-0">
                    <h6 class="approx">Subtotal <span>(approx)</span></h6>
                </div>
                <div class="col-sm-4 p-0">
                    <p id="subtotal">${{totalPrice}}</p>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-sm-8 p-0 ">
                    <h6>Tax</h6>
                </div>
                <div class="col-sm-4 p-0">
                    <p id="tax">25%</p>
                </div>
            </div>
            <hr>
            <div class="row mx-0 mb-2">
                <div class="col-sm-8 p-0 d-inline">
                    <h5>Total</h5>
                </div>
                <div class="col-sm-4 p-0">
                    <p id="total">${{priceWihTax}}</p>
                </div>
            </div>
            <!-- <a href="#"><button id="btn-checkout" class="shopnow"><span>Checkout</span></button></a> -->
        </div>
    </div>
  </div>

  


